body{
  height:100%;
  overflow: none;
  margin:0;

}

.desktop{
  background-image: url("mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100vh;
  padding: none;
  border:none;
  overflow: none;

}

.date{
  top:0.4%;
  left:81%;
  color:white;
  word-spacing:2px;
  z-index: 90;
   font-size: 13px;
   font-family: helvetica;
   position: absolute;

}

.box{
  width: 12%;
  background: linear-gradient(90deg, rgba(78,58,70,1) 0%, rgba(67,57,71,1) 100%);
  height: 4%;
  position: absolute;
  left: 80%;
  top:-1%;
  z-index: 19;
}

.clock{
	position: absolute;
	width: 20px;
	height: 20px;
 top:0.4%;
 left:86%;
 color:white;
 z-index: 90;
  font-size: 13px;
	font-family: helvetica;
	list-style: none;
  white-space: nowrap;
}




.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext  {
  visibility: hidden;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  top:100px;
}

.claire{
    position: fixed;
    height: 150px;
    height: 250px;
    left:20%;
    top:50%;
    object-fit: contain;
    display: block;
}


/* Popup arrow */
.popup .popuptext::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
}

/* Toggle this class - hide and show the popup */
.popup .show  {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}






#myBtn{
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 93%;
  top: 9%;
  background-color: rgba(255,255,255,0);
  height: 40px;
  width: 60px;
  border:none;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 15%;
  width: 400px; /* Full width */
  height: 400px; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content/Box */
.modal-content {
  background-color: #F9F0B4;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.passwords{
  font-size: 14px;
  font-family: helvetica;
  color: black;
  z-index: 10;
  background-color: #F9F0B4;
  line-height:20px;


}

.highlight{
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
    padding: none;
    margin: none;
    line-height: 20px;
    width: 200px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 26px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.head{
  position: absolute;
  top:0px;
  width: 100vw;
}


.fold{
position:absolute;
top:7%;
height: 60px;
width: 60px;
left:93%;

}





.text{
  font-family: helvetica;
  font-size: 11px;
  color: white;
z-index: 3;
position: absolute;
white-space: nowrap;
top:16%;
left:92.6%;
}
