body{
  background-color: white;

}

.header{
  position: absolute;
  top: -10px;

}

.death{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:140px;
  left: 86px;
}

.murder{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:138px;
  left: 470px;
}

.demise{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:132px;
  border-style: solid;
  border-width: 7px;
  border-color: white;
  left: 1348px;
}

.dahmer{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:136px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  left: 210px;
}

.death-row{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  white-space: nowrap;
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  top:133px;
  left: 354px;
}

.lethal{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  white-space: nowrap;
  position: absolute;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  top:135px;
  left: 854px;
}

.electric{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  white-space: nowrap;
  position: absolute;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  top:135px;
  left: 1030px;
}

.final{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:137px;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  left: 1200px;
}

.execute{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:136px;
  white-space: nowrap;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  left: 709px;
}


.fishing{
  height: 190px;
  width: 210px;
  transition: transform .2s;
  object-fit:cover;
  content:url(images/fishing.jpg);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 200px;
  left: 10px;
}

.fishing:hover{
transform: scale(1.2);
z-index: 2;

}

.french{
  height: 190px;
  width: 210px;
  transition: transform .2s;
  object-fit:cover;
  content:url(images/french.jpg);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 200px;
  left: 230px;
}

.french:hover{
transform: scale(1.2);
z-index: 2;

}

.mountain{
  height: 190px;
  width: 280px;
  transition: transform .2s;
  content:url(images/mountain.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 200px;
  left: 450px;
}
.mountain:hover{
transform: scale(1.2);
z-index: 2;
}

.sea{
  height: 190px;
  width: 210px;
  transition: transform .2s;
  content:url(images/sea.png);
  display: inline-block;
  position: absolute;
  top: 200px;
  object-fit:cover;
  left: 740px;
}

.sea:hover{
transform: scale(1.2);
z-index: 2;
}

.wood{
  height: 190px;
  width: 260px;
  transition: transform .2s;
  object-fit:cover;
  content:url(images/wood.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 200px;
  left: 960px;
}

.wood:hover{
transform: scale(1.2);
z-index: 2;
}


.galaxy{
  height: 190px;
  width: 210px;
  transition: transform .2s;
  object-fit:cover;
  content:url(images/galaxy.jpg);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 200px;
  left: 1230px;
}

.galaxy:hover{
transform: scale(1.2);
z-index: 2;
}

.pink{
  height: 190px;
  width: 270px;
  transition: transform .2s;
  object-fit:cover;
  content:url(images/pink.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 400px;
  left: 10px;
}

.pink:hover{
transform: scale(1.2);
z-index: 2;
}

.sunlight{
  height: 190px;
  width: 280px;
  transition: transform .2s;
  object-fit:cover;
  content:url(images/sunlight.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 400px;
  left: 290px;
}

.sunlight:hover{
transform: scale(1.2);
z-index: 2;
}

.lights{
  height: 190px;
  width: 270px;
  transition: transform .2s;
  object-fit:cover;
  content:url(images/lights.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 400px;
  left: 580px;
}

.lights:hover{
transform: scale(1.2);
z-index: 2;
}

.watercolor{
  height: 190px;
  width: 280px;
  transition: transform .2s;
  object-fit:cover;
  content:url(images/watercolor.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 400px;
  left: 870px;
}

.watercolor:hover{
transform: scale(1.2);
z-index: 2;
}

.forest{
  height: 190px;
  width: 260px;
  transition: transform .2s;
  object-fit:cover;
  content:url(images/forest.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 400px;
  left: 1160px;
}

.forest:hover{
transform: scale(1.2);
z-index: 2;
}

.flower{
  height: 190px;
  width: 280px;
  object-fit:cover;
  transition: transform .2s;
  content:url(images/flower.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 600px;
  left: 10px;
}

.flower:hover{
transform: scale(1.2);
z-index: 2;
}

.notebook{
  height: 190px;
  width: 240px;
  object-fit:cover;
  transition: transform .2s;
  content:url(images/notebook.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 600px;
  left: 310px;
}

.notebook:hover{
transform: scale(1.2);
z-index: 2;
}

.sky{
  height: 190px;
  width: 290px;
  object-fit:cover;
  transition: transform .2s;
  content:url(images/sky.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 600px;
  left: 570px;
}

.sky:hover{
transform: scale(1.2);
z-index: 2;
}

.palms{
  height: 190px;
  width: 260px;
  object-fit:cover;
  transition: transform .2s;
  content:url(images/palms.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 600px;
  left: 870px;
}

.palms:hover{
transform: scale(1.2);
z-index: 2;
}

.nike{
  height: 190px;
  width: 280px;
  object-fit:cover;
  transition: transform .2s;
  content:url(images/nike.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 600px;
  left: 1140px;
}

.nike:hover{
transform: scale(1.2);
z-index: 2;
}
