body{
  background-color: white;

}

.header{
  position: absolute;
  top: -10px;

}

.death{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:140px;
  left: 86px;
}

.murder{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:138px;
  left: 470px;
}

.demise{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:132px;
  border-style: solid;
  border-width: 7px;
  border-color: white;
  left: 1348px;
}

.dahmer{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:136px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  left: 210px;
}

.death-row{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  white-space: nowrap;
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  top:133px;
  left: 354px;
}

.lethal{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  white-space: nowrap;
  position: absolute;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  top:135px;
  left: 854px;
}

.electric{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  white-space: nowrap;
  position: absolute;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  top:135px;
  left: 1030px;
}

.final{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:137px;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  left: 1200px;
}

.execute{
  font-family: helvetica;
  font-size: 13px;
  background-color: white;
  color:black;
  position: absolute;
  top:136px;
  white-space: nowrap;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  left: 709px;
}

.items{

}

.fishing{
  height: 190px;
  width: 280px;
  content:url(images/fishing.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 200px;
  left: 10px;
}

.french{
  height: 190px;
  width: 280px;
  content:url(images/french.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 200px;
  left: 300px;
}

.mountain{
  height: 190px;
  width: 280px;
  content:url(images/mountain.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 200px;
  left: 590px;
}

.sea{
  height: 190px;
  width: 210px;
  content:url(images/sea.png);
  display: inline-block;
  position: absolute;
  top: 200px;
  object-fit:cover;
  left: 880px;
}

.galaxy{
  height: 190px;
  width: 280px;
  content:url(images/galaxy.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 200px;
  left: 1100px;
}

.pink{
  height: 190px;
  width: 200px;
  object-fit:cover;
  content:url(images/pink.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 400px;
  left: 10px;
}

.sunlight{
  height: 190px;
  width: 280px;
  object-fit:cover;
  content:url(images/sunlight.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 400px;
  left: 230px;
}

.lights{
  height: 190px;
  width: 230px;
  object-fit:cover;
  content:url(images/lights.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 400px;
  left: 525px;
}

.watercolor{
  height: 190px;
  width: 280px;
  object-fit:cover;
  content:url(images/watercolor.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 400px;
  left: 770px;
}

.forest{
  height: 190px;
  width: 280px;
  object-fit:cover;
  content:url(images/forest.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 400px;
  left: 1060px;
}

.flower{
  height: 190px;
  width: 280px;
  object-fit:cover;
  content:url(images/flower.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 600px;
  left: 10px;
}

.notebook{
  height: 190px;
  width: 240px;
  object-fit:cover;
  content:url(images/notebook.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 600px;
  left: 310px;
}

.sky{
  height: 190px;
  width: 290px;
  object-fit:cover;
  content:url(images/sky.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 600px;
  left: 570px;
}

.palms{
  height: 190px;
  width: 260px;
  object-fit:cover;
  content:url(images/palms.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 600px;
  left: 870px;
}

.nike{
  height: 190px;
  width: 260px;
  object-fit:cover;
  content:url(images/nike.png);
  display: inline-block;
  max-height: 500px;
  position: absolute;
  top: 600px;
  left: 1140px;
}
