body{
  background-color: black;
  text-align: left;
}

p{
  font-family: Poiret one;
  color: white;
  font-size: 40px;
  line-height: 60px;
}

.quick{
transition: all 5s ease-in-out;
color: #85B8B8;

}

.quick:hover{
  cursor: pointer;
  font-size: 2em;
}

.walden{
  background: -webkit-linear-gradient(#e128ff, #ff5151);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.walden:hover{
  background: linear-gradient(90deg, rgba(238,238,244,1) 8%, rgba(179,179,235,1) 28%, rgba(164,164,238,1) 46%, rgba(130,183,226,1) 65%, rgba(82,210,208,1) 80%, rgba(0,255,178,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.word{
  background: -webkit-linear-gradient(#02a1b3,#fea3d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.word:hover{
  background: linear-gradient(90deg, rgba(254,163,216,1) 7%, rgba(245,160,49,1) 25%, rgba(255,224,10,1) 41%, rgba(245,120,155,1) 68%, rgba(235,152,58,1) 100%, rgba(0,255,178,1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}

.waldenpond{
 justify-content: center;
 display: block;
 margin: 0 auto;
 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 filter: grayscale(100%);
 padding: 60px 0 60px 0;

}

.waldenpond:hover {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  cursor: pointer;
}

.shape{
  height: 40px;
  width: 400px;
  background-color: #335469;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  opacity: 0.5;
  -webkit-transform: rotate(45deg);
  -webkit-transition: all 1s ease-in-out;
}

.shape:hover{
  border-radius: 100px;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  background-color: #F21EB6;
  -webkit-transform: scale(2.0);
  cursor: pointer;
}

.palm {
justify-content: flex-end;
align-items: baseline;
margin-top: 60px;
transition: all 0.5s ease;
filter: invert(3);
}

.palm:hover {
  -webkit-transform: rotate(360deg) scale(3);
  transform: rotate(360deg) scale(3);
  cursor: pointer;
}

.yellow {
  border: 1px solid #F2D61E;
  padding: 0 10px;
  transition: all 0.5s ease;
}

.yellow:hover {
  background-color: #F2D61E;
  cursor: pointer;
}
