body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;
}

/* i'm using the z index to move the slider on top of the container */
.container {
  z-index: 0;
}


.continent{
 font-size: 40px;
 top:10px;
 left:20px;
 line-height: 20px;
 position: absolute;
 font-family: 'Share Tech Mono';
 color: black;
}


.continent1:hover{
  background-color: black;
  line-height: 20px;
  padding: 14px 25px;
  color: white;
}

.continent2:hover{
  background-color: black;
  line-height: 20px;
  padding: 14px 25px;
  color: white;
}

.continent3:hover{
  background-color: black;
  line-height: 20px;
  padding: 14px 25px;
  color: white;
}

.continent4:hover{
  background-color: black;
  line-height: 20px;
  padding: 14px 25px;
  color: white;
}
.continent5:hover{
  background-color: black;
  line-height: 20px;
  padding: 14px 25px;
  color: white;
}

.continent6:hover{
  background-color: black;
  line-height: 20px;
  padding: 14px 25px;
  color: white;
}

.continent7:hover{
  background-color: black;
  line-height: 20px;
  padding: 14px 25px;
  color: white;
}
