/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: black;
}

.frame {
  width: 1000px;
  height: 600px;
  background: white;
  margin: 30px auto;
  position: relative;
}


.book-top{
  width: 130px;
  height: 50px;
  position: absolute;
  background-color: #D9D8D0;
  left: 101px;
  top: 300px;
}


.book-middle{
  width: 130px;
  height: 10px;
  position: absolute;
  background-color: #078D99;
  left: 101px;
  top: 346px;
  z-index: 5;

}


.book-bottom{
  width: 160px;
  height: 10px;
  background-color: #E8F1F2;
  left: 71px;
  top: 356px;
  z-index: 5;
  position: absolute;

}

.table{
  position: absolute;
      border-bottom: 100px solid black;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      top:370px;
      left:20px;
      width: 800px;
}

/* ORANGES */
.one{
  width: 40px;
  height: 30px;
  position: absolute;
  top:340px;
  left:580px;
  border-radius: 20px;
  transform: rotate(195deg);
  background-color: orange;
}

.two{
  width: 40px;
  height: 30px;
  position: absolute;
  top:340px;
  left:543px;
  border-radius: 20px;
  z-index: 2;
  background-color: #EF9911;
}

.vase{
  width: 60px;
  height: 120px;
  background-color: #C3C1C0;
  opacity: 0.3;
  position: absolute;
  left: 440px;
  top: 250px;
}

.stem-one{
  width: 2px;
  height: 130px;
  background-color: brown;
  position: absolute;
  top:240px;
  transform: rotate(3deg);
  left: 490px;
}

.stem-two{
  width: 2px;
  height: 130px;
  background-color: brown;
  position: absolute;
  top:240px;
  transform: rotate(-10deg);
  left: 480px;
}

.stem-three{
  width: 2px;
  height: 135px;
  background-color: brown;
  position: absolute;
  top:240px;
  transform: rotate(10deg);
  left: 485px;
}


/* Your CSS goes here */
