body{
background-color: #F0F0F0;
color: #4B4A4A;
}


.main{
  margin: 0 auto;
  height: 220vw;
  width: 70vw;
  border: transparent;
}

.name{
  font-size: 10vw;
  text-align: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
}


.header{
  display: flex;
  font-size: 3vw;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
  padding-bottom: 10vw;

}

.resume{
 width: 13vw;
 height: 5vw;
 margin: 1vw;
 line-height: 5vw;
 border: transparent;
 text-align: center;
 padding: 1vw;
}

.resume:hover{
  width: 13vw;
  height: 5vw;
  background-color:#4B4A4A;
  color:white;
}

.project{
  width: 14vw;
  height: 5vw;
  margin: 1vw;
  line-height: 5vw;
  border: transparent;
  text-align: center;
  padding: 1vw;
}


.project:hover{
  width: 14vw;
  height: 5vw;
  background-color:#4B4A4A;
  color:white;
}

.about{
  width: 13vw;
  line-height: 5vw;
  height: 5vw;
  margin: 1vw;
  border: transparent;
  text-align: center;
  padding: 1vw;
}


.projects{
  height: 170vw;
justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.projects1{
  margin: 0 auto;
  width: 57vw;
  height: 25vw;
  border: 2px solid red;
}

.projects2{
  margin: 0 auto;
  width: 57vw;
  height: 25vw;
  border: 2px solid blue;
}

.projects3{
  margin: 0 auto;
  width: 57vw;
  height: 25vw;
  border: 2px solid red;
}

.projects4{
  margin: 0 auto;
  width: 57vw;
  height: 25vw;
  border: 2px solid blue;
}

.projects5{
  margin: 0 auto;
  width: 57vw;
  height: 25vw;
  border: 2px solid red;
}

.projects6{
  margin: 0 auto;
  width: 57vw;
  height: 25vw;
  border: 2px solid blue;
}
