body{
  padding: 30px;
  background-color: black;
  font-size: 35px;
  color: white;
  font-family: Philosopher;
}

span{
  font-family: Philosopher;
  color: orange;

}

.button{
    font-size: 1.7vw;
    border-style: solid;
    border-width:1px;
    color:white;
    top:3vw;
    width: 180px;
    padding: 4px;
    border: none;
    line-height: 2vw;
    margin-bottom: px;
}

.button:hover{
	background-color: orange;
  color: black;
}

.text{
width: 60vw;
top:3vw;
line-height: 3.4vw;
left: 30vw;
position: absolute;
}
